[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

requests = "*"
pynder = "*"
robobrowser = "*"


[dev-packages]

pip = "*"
"flake8" = "*"
importmagic = "*"
rope = "*"
ipython = "*"